/* reseting pre-applied css */

body {
  background-image: url("bg-gif.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

button:hover {
  background-color: #ff6363;
}

* {
  padding: 0;
  margin: 0;
}

/* first page container ----I have used  flex for centering all items*/

.firstpage-container {
  /* border: 2px solid red; */
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* below code I have used for alignment puspose only */

/*
  .f1 {
      border: 2px solid blue;
      margin: 12px auto;
  } */

/* college name styling below */

#collegeName {
  color: #edf6e5;
  font-family: "Bree Serif", serif;
  font-size: 2.7rem;
}

/* college tagline styling below */

#tag {
  color: #edf6e5;
  font-size: 1.4rem;
  font-family: "Akaya Telivigala", cursive;
}

/* button margin below */

#std-button {
  margin: 35px auto;
  color: white;
  background-color: white;
  border-radius: 5px;
}

/* button styling */

.btn {
  display: block;
  width: 200px;
  height: 44px;
  border-radius: 16px;
  font-size: 18px;
  font-family: "Bree Serif", serif;
  background-color: #edf6e5;
}

/* centering all texts to center */

.center {
  text-align: center;
}

/* std form-- section  */
section {
  /* border: 2px solid red; */
  height: 60vh;
  display: none;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  top: 150px;
  opacity: 0;
}

/* designing form */
form {
  /* border: 2px solid blue; */
  margin-top: 30px;
  color: #edf6e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
}

#form-submit:hover {
  background-color: #ff6363;
}
#form-submit {
  padding: 5px;
  font-family: "Bree Serif", serif;
  border: 2px solid #333;
  border-radius: 5px;
  margin-top: 20px;

  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
  background-color: #edf6e5;
  display: inline;
}

#clear-form:hover {
  background-color: #ff6363;
}
#clear-form {
  padding: 5px;
  font-family: "Bree Serif", serif;
  border: 2px solid #333;
  border-radius: 5px;
  margin-top: 20px;
  background: none;
  cursor: pointer;
  transform: rotate(-1.5deg);
  background-color: #edf6e5;
  display: inline;
}

label {
  cursor: pointer;
  display: inline-block;
  padding: 3px 6px;
  font-family: "Akaya Telivigala", cursive;
  font-size: 1.8rem;
  text-align: left;
  width: 200px;
  vertical-align: top;
}

input {
  border-radius: 6px;
}
.item-w {
  width: 500px;
}
.item {
  width: max-content;
  margin-left: 500px;
}

@keyframes example {
  from {
    display: none;
  }
  to {
    display: flex;
  }
}

/*dialog box*/

.dialog {
  width: 400px;
  height: 100px;
  position: absolute;
  z-index: 2;
  display: none;
  left: 470px;
  top: 0px;
  color: #edf6e5;
  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
  opacity: 0;
}

.dlg-header {
  background-color: #333;
}
