body{
    margin:0px;
    padding:0px;
    background:url('gym.jpg');
    color:white;
    font-family: 'Irish Grover', cursive;
}
.left{
   
    display:inline-block;
    position: absolute;
    font-size:15px;
    top:20px;
    left:10px;
}
.mid{
    position:relative;
    display:block;
    margin:12px auto;
    width:50%;
    
    font-size:25px;
}
    
.right{
    
    position:absolute;
    display:inline-block;
    top:30px;
    right:10px;
    
}
.navbar{
   display:inline-block;
}
.navbar li{
    display:inline-block;
    padding :15px;
    font-size: 25px;
}
.navbar li a{
    color: white;
    text-decoration:none;
}
.navbar li a:hover,.navbar li a:active{
    text-decoration:underline;
    color:grey;
}
.left img{
    width:50px;
    height:50px;
    filter:invert(100%);
}
.btn{
    background-color:black;
    color:white;
    cursor:pointer;
    font-family: 'Irish Grover', cursive;
    border-radius: 10px;
}
.btn a{
    color:white;
    text-decoration: none;
}
.btn:hover{
    text-decoration: underline;
    background-color: rgb(100, 88, 88);
}
.container{
    margin:50px;
    padding:20px;
    width:33%;
    height:30%;
    font-size:20px;
}
.form-group{
    font-family: 'Irish Grover', cursive;
    width:50%;
    padding:10px;
    font-size:5px;
    
}
.form-group input{
    font-family: 'Irish Grover', cursive;
    width:100%;
    padding:5px;
    font-size:15px;
    border-radius: 10px;
}
#bt{
    position:absolute;
    left:660px;
}
