.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 255) !important;
  font-weight: 400;
}
.navbar {
  background-color: red;
}
.w-100 {
  object-fit: cover;
}
.carousel-caption {
  color: rgb(255, 99, 71);
  font-weight: 800;
  font-size: larger;
}
